<div>
    <p>{{title}}</p>
</div>


<div> Months 
    <select (change) = "changeMonth($event)">
        <option *ngFor = "let i of months"> {{i}} </option>
    </select>
</div>
<br/>

<div>
    <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is valid.</ng-template>
    <ng-template #condition2>Condition is invalid.</ng-template>
</div>

<div>
    <button (click) = "onClick($event)"> Click </button>
</div>

<app-new-cmp></app-new-cmp>