<div>
    <p>{{title}}</p>
</div>

<div>
    <span appChangeText > Welcome back {{title | lowercase}} </span>
</div>


<div> Months 
    <select (change) = "changeMonth($event)">
        <option *ngFor = "let i of months"> {{i}} </option>
    </select>
</div>
<br/>

<div>
    <span *ngIf = "isavailable; then condition1 else condition2">Condition is valid.</span>
    <ng-template #condition1>Condition is valid.</ng-template>
    <ng-template #condition2>Condition is invalid.</ng-template>
</div>

<div>
    <button (click) = "onClick($event)"> Click </button>
</div>

<div style = "width:100%;"> 
    <div style = "width:40%;float:left;border:solid 1px black;"> 
       <h1>Uppercase Pipe</h1> 
       <b>{{title | uppercase}}</b>
       <br/> 
       
       <h1>Lowercase Pipe</h1> 
       <b>{{title | lowercase}}</b> 
       <h1>Currency Pipe</h1> 
       <b>{{6589.23 | currency:"USD"}}</b>
       <br/> 
       
       <b>{{6589.23 | currency:"USD":true}}</b> 
       // Boolean true is used to get the sign of the currency. 
       <h1>Date pipe</h1> 
       <b>{{todaydate | date:'M/d/y'}}</b>
       <br/> 
       
       <b>{{todaydate | date:'shortTime'}}</b> 
       <h1>Decimal Pipe</h1> 
       <b>{{ 454.78744943 | number: '3.4-4' }}</b> 
       // 3 is for main integer, 4 -4 are for integers to be displayed. 
    </div> 
    
    <div style = "width:40%;float:left;border:solid 1px black;"> 
       <h1>Json Pipe</h1> 
       <b>{{ jsonval | json }}</b>
       <h1>Percent Pipe</h1> 
       <b>{{00.54565 | percent}}</b> 
       <h1>Slice Pipe</h1> 
       <b>{{months | slice:2:6}}</b> 
       // here 2 and 6 refers to the start and the end index 

       <h1>Custom Pipe</h1> 
       <b>Square root of 25 is: {{25 | sqrt}}</b> 
       <br/> 
       <b>Square root of 72905412 is: {{72905412 | sqrt}}</b>

    </div> 
 </div>

 <h1>Angular 7 Routing Demo</h1> 
 <nav> 
    <a routerLink = "/home">Home</a> 
    <a routerLink = "/contactus">Contact Us </a> 
 </nav> 
 
 <div>

 <p>{{todaydate}}</p><br/>
 <p>{{componentProperty}}</p>

 <form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)">
     <input type="text" name="emailid" placeholder="Email ID" ngModel><br/>
     <input type="password" name="password" placeholder="Password" ngModel><br/>
     <input type="submit" value="Login">
 </form>
</div>
<app-new-cmp></app-new-cmp>
<router-outlet></router-outlet>